:root {
  --clr-dark-grey: #5F6368;
  --clr-black: #202124;
  --clr-buttons: #4486F4;
  --clr-btn-text: #FFFFFF;
  --clr-dark-yellow: #ECA72C;
  --clr-green: #1BA260;
  --clr-light-grey: #F8F9FA;
  --clr-banner: #C2CFB2;
  --clr-dark-blue:  #2C3E50;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Tajawal', sans-serif; */
  font-size: 1.1rem;
  color: var(--clr-text);
  line-height: 1.6;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--clr-black);
}

@media (min-width: 48em) {
  h1 {
    font-size: clamp(2.25rem, 2.8rem, 2.5rem)
  }
}

p {
  margin: 0;
  color: var(--clr-dark-grey);
}

a {
  text-decoration: none;
  color: inherit;
}

section:not(.hero) {
  margin: 6em 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 65em;
}

.btn {
  display: inline-block; 
  text-decoration: none;
  text-align: center;
  color: var(--clr-btn-text);
  /* color: #BCCAD6; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  /* background: var(--clr-buttons, rgb(180, 180, 201)); */
  background:  var(--clr-dark-blue);
  padding: .5em;
  border-radius: 2.5em;
  -moz-transition: 
      transform 250ms ease-in-out,
      opacity 250ms linear;
  -webkit-transition: 
      transform 250ms ease-in-out,
      opacity 250ms linear;;
  transition:
      transform 250ms ease-in-out,
      opacity 250ms linear;
  width: 100%;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .8;
}

@media (min-width: 48em) {
  .btn {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

.header {
  /* color: white; */
  text-align: center;/*center every thing in the hero area*/
  /* background: #222; */
  padding-bottom: 2em;
  background: #2C3E50;
  /* height: 100vh; */
}

/* START OF MENU AND HAMBURGER MENU CSS */
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo,
.footer-logo {
  /* line-height: 0; */
  line-height: 1;
  margin: 0 20px;
}

.menu-logo img,
.footer-logo img {
  max-height: 40px;
  max-width: 100%;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  /* color: var(--clr-black); */
  color: #96A1AB;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.menu-container a:hover {
  /* color: #00C6A7; */
  color: #91ccd2;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  /* background: var(--clr-black); */
  background: #96A1AB;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-container a {
    color: black;
  }
  
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img,
  .footer-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 280px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: var(--clr-btn-text);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
  .menu-container {
    width: 100%;
  }

  /* .menu-container a {
    color: var(--clr-dark-grey)
  } */

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    /* width: 100%;
    display: flex;
    justify-content: space-between; */
    margin-right: auto;
    margin-left: auto;
    
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}
/* END OF MENU AND HAMBURGER MENU CSS */

.hero-text {
  margin: 1em 0;
  color: #BCCAD6;
}

.hero-img {
  display: none;
}

.hero .btn {
  background: #91ccd2;
  color: #2C3E50;
}

@media (min-width: 48em) {
  .hero-img {
    display: block;
    max-width: 50%;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    align-self: center;
  }
}

.intro-section p {
  margin: 1rem 0;
}

.success-link:hover,
.success-link:focus {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
  color: #91ccd2;
}

.intro-img {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 48em) {
  .intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-img {
    max-width: 50%;
    align-self: flex-start;
  }

  .intro-text {
    padding-left: 2em;
  }

  /* .intro-wrapper .btn {
    margin: 1em 0;
  } */
}

.section-title {
  margin-bottom: .7rem;
  text-align: center;
  /* position: relative;
  border-left:solid 2px #e65941;
  border-right:solid 2px #e65941;
  padding:0 10px; */
  /* background-image: url(../images/shape_spot11.png); */
}

.section-title {
  color: var(--clr-dark-blue);
}

/* .section-title::before,
.section-title::after {
  position:absolute;
  content:"";
  border-bottom:2px solid #e65941;
  width:30px;
  bottom:30px
}

.section-title::before {
  left: -30px;
}

.section-title::after {
  right: -30px;
} */

.service-title {
  text-align: center;
  margin: .5em 0;
  font-weight: lighter;
  color: var(--clr-dark-blue);
}

.service-icon {
  color: var(--clr-dark-yellow);
  margin: 0 auto;
}

.services {
  margin: 1.5rem 0;
  padding: 2rem;
  border-radius: .5rem;
  border: 1px solid var(--clr-dark-grey);
}

@media (min-width: 48em) {
  .services-split {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }

  .mobile-service {
    grid-column: span 2;
    grid-row: 3 / 4;
  }
}

.portfolio-card {
  margin: 2em 0 3em;
}

.card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5em;
}

.portfolio-img {
  border-radius: .5rem;
  border: 1px solid var(--clr-dark-grey);
}

@media (min-width: 48em) {
  .portfolio-split {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
} 

.hire-section {
  text-align: center;
  /* background-color: var(--clr-banner); */
  background: #91ccd2;
  padding: 2em 0;
}

.hire-section .btn {
  /* background-color: var(--clr-dark-grey); */
  margin-top: 1em;
}

form {
  display: none; /*HIDE FORM*/
  margin: 2em 0;
}

input[type = text],
input[type = tel],
input[type = email],
textarea {
  width: 100%;
  padding: .65em 1.25em;
  margin: .3em 0 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .25em;
  font-family: inherit;
  font-size: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type = text]:focus,
input[type = tel]:focus,
input[type = email]:focus,
textarea:focus {
  border: 3px solid var(--clr-dark-grey);
}

textarea {
  resize: none;
  height: 9.5em;
}

input[type = button] {
  border: none;
  cursor: pointer;
}

.footer {
  /* color: var(--clr-black); */
  /* color: #96A1AB; */
  color: #BCCAD6;
  background: #2C3E50;
}

.footer-icons {
  background-color: var(--clr-black);
}

/* The email icon in footer area */
.col2 img {
  display: inline-block;
  /* background: var(--clr-dark-yellow); */
}

.col1 span,
.col2 span {
  margin-left: .5em;
}

.col1 div,
.col2 div {
  margin-bottom: 1em;
}

.col3 a,
.col4 a {
  display: block;
  margin-bottom: 1em;
  /* color: var(--clr-white); */
}

/* .col2 {
  margin-bottom: 5.5em;
} */

.col2,
.col3,
.col4 {
  margin-bottom: 2.5em;
}

.col-social {
  margin: 4.8em 0 2em;
  text-align: center;
}

.social-img {
  display: inline-block;
  border-radius: 50%;
  /* border: 1px solid #fff; */
  border: 1px solid #2C3E50;
  width: 1.5em;
  -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}

.social-img:hover {
  background: #BCCAD6;
}

@media (min-width: 48em) {
  .split-footer {
    display: flex;
    justify-content: space-between;
  }

  .col1 {
    width: 35%;
  }

  .col2 {
    width: 20%;
  }

  .col3 {
    width: 10%;
  }

  .col4 {
    width: 10%;
  }

  .col-social {
    width: 10%;
    margin: 0;
  }

  .contact-section .container {
    width: 50%;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  margin: 1em 0;
}

.attribution a { 
  /* color:var(--clr-green); */
  color: #91ccd2;
  border-bottom: 1px dotted var(--clr-dark-grey);
}